@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "KC Obra Letra";
  font-weight: 400;
  src: url(../fonts/KCObraLetraRegular.woff) format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  @font-face {
    font-family: "KC Obra Letra";
    font-weight: 400;
    src: url(../fonts/KCObraLetraRegular.woff) format("woff");
  }
}
